.login {
    position: relative;

    form {
        position: absolute;
        top: 25%;
        left: 50%;
        transform: translate(-50%, -50%);
        @include form;

        button {
            @include btn
        }
    }

    @include page-design;
    padding-top: 20px;
}