.change-password {
    form {
        @include form;
    }

    @include form-modal;
    width: 310px;
    padding-top: 40px;

    button {
        @include btn
    }

    .close-modal {
        position: absolute;
        top: 5px;
        right: 5px;
    }
}