.user-preview {
    background-color: whitesmoke;
    text-align: center;
    height: 200px;
    width: 150px;
    border-radius: 5px;
    box-shadow: 0 0 2px 2px #656565;
    transition: all .4s;
    position: relative;

    &:hover {
        box-shadow: 0 0 2px 2px #201f1f;
        transition: all .4s;
    }

    button {
        @include btn
    }
.user-details{
    position: relative;
    top: 35px;
}
    .delete-btn {
        position: absolute;
        top: 5px;
        right: 5px;
    }

    .edit-btn {
        position: absolute;
        bottom: 8px;
        left: 35%;
    }
}